* {
  font-family: serif;
}

body {
  margin:0px;
}

header {
  background-color: #a8c9ff;
  max-width:100%;
  height:90vh;
  margin:0px;
  margin-left:20%;
  padding:10vh;
}

header h1 {
  margin:0;
  font-size: 3em;
}

header h2 {
  margin:0px;
}

header h4 {
  margin: 7px 0px 0px 0px;
}

.imppres {
  margin:0px;
}

.title {
  color:#FFF;
  margin:0px;
  text-shadow: 0px 0px 2px #b2cfff;
}

.infop, .infoc {
  font-weight: Light;
  color:#FFF;
  font-style: Italic;
  position:absolute;
  margin-left:20%;
}

.infop {
  left:5vw;
  top:75vh;
}

.infoc {
  left:5vw;
  top:84vh;
}

.authby {
  font-size:.75em;
  text-transform: lowercase;
}

main {
  max-width: 80vw;
  margin:auto;
  margin-top:20px;
  margin-left:20%;
  padding:10%;
}

table h4 {

}

a {
  text-decoration: none;
  font-style: italic;
  font-size: 1.2em;
  border: 1px solid;
  color: grey;
  padding:.3em;
  transition:300ms;
}

a:hover {
  background-color:coral;
  color:white;
}

.pagenum {
  position: absolute;
  right: 4%;
  display:inline-block;
  text-indent: 0em;
  text-align: right;
  font-size: 70%;
  font-weight: normal;
  font-variant: normal;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  color: #acacac;
  background: #ffffff;
  padding: 1px 2px;
}

.navigation {
  position: fixed;
  top:0;
  left:0;
  bottom:0;
  background-color: #FFF;
  overflow-y: hidden;
  width: 20%;
  padding: 1em;
  transform: translateX(-80%);
  transition:300ms;
}

.navigation a {
  text-align: right;
}

.navigation:hover{
  transform: translateX(0%);
  overflow-y: scroll;
}
